<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <%- include("partials/nav") %>

    <div class="container">
      <div class="box">
        <h1>芳鍋 Fangs-food</h1>
        <div class="header">
          <img src="<%= user.thumbnail %>" />
          <h2><%= user.name %></h2>
          <h4>FANGS-FOOD 會員</h4>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/profile/gift">禮物卷</a></li>
            <li><a href="/auth/change-password">帳號管理</a></li>
            <li><a href="/profile">VIP</a></li>
          </ul>
        </div>
        <div class="edit">
          <div class="form-box">
            <h5>重設密碼</h5>
            <form action="/auth/change-password" method="POST">
              <%- include("partials/message") %>
              <input
                type="password"
                name="oldPassword"
                required
                placeholder="舊密碼"
              />
              <input
                type="password"
                name="newPassword"
                required
                placeholder="新密碼"
              />
              <input
                type="password"
                name="confirmPassword"
                required
                placeholder="確認新密碼"
              />
              <button>重設密碼</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer") %> <% if (success_msg != "") { %>
    <script>
      setTimeout(function () {
        window.location.href = "/profile"; // 跳轉到個人頁面的路徑
      }, 3000); // 3000毫秒後跳轉，即3秒
    </script>
    <% } %>
  </body>
</html>
